.sitetitle{
    color: #ffffff;
    text-decoration: none;    
    font-family: 'Noto Sans JP', sans-serif;
}

.pagetitle{
    margin: 0.3em;
    font-family: 'Noto Sans JP', sans-serif;
}

.titlelist{
    color: #161616;
    text-decoration: none;   
}
a.titlelist:hover {
    color: #6b6b6b
}

a.tags:hover {
    color: #242424
}

.menuc{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid;
    border-color: #999999;
    background-color: #1a1a1a;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
a.menuc:hover {
    color: #949494;
}

.quietf{
    color: #464646;
    font-size: small;
}

.footer{
    border-top: 0.04em solid;
    border-color: #808080;
    color: #ffffff;
    background: #1a1a1a;
    font-family: 'Noto Sans JP', sans-serif;
}
.main{
    border: 1px solid;
    border-color: #999999;
    background: #f1f1f1;
    font-family: 'Noto Sans JP', sans-serif;
}
.sidebar{
    border: 1px solid;
    border-color: #999999;
    background: #e0e0e0;
    font-family: 'Noto Sans JP', sans-serif;
}
.header{
    border-bottom: 1px solid;
    border-color: #999999;
    background: #1b1b1b;
    padding-bottom: 0.2em;
}

body{
    background: #2b2b2b;
}

.contents{
    margin-block-start: 0em;
    border: 1px solid;
    border-color: #686868;
    background-color: #e0e0e0;
    padding: 0%;
    margin:20px;
    min-width: 0%;
    max-width: 40%;
}

td{
    border: 1px solid;
    border-color: #686868;
    background-color: #ffffff;
}
th{
    border: 2px solid;
    border-color: #686868;
    color: #ffffff;
    background-color: #333333;

}
table{
    border: 2px solid;
    border-color: #686868;
    background-color: #cfcfcf;
}


h4{
    border-color: #c94000;
}
h3{
    border-color: #e64708;
}
h2{
    border-color: #ff4618;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
